<div *ngIf="standardDeviation">
    <div class="description-container">
        <h2>Standard Deviation</h2>
        <mat-divider></mat-divider>
        <p>Standard deviation is calculated by taking the square root of a value derived from comparing data points to a collective mean of daily returns.</p>
        <p>Formula: √(∑(𝑥<sub>𝑖</sub> - 𝑥̄)<sup>2</sup> / (<i>n</i> - 1))</p>
        <p>&emsp;𝑥<sub>𝑖</sub> - The daily return  on the 𝑖<sup>th</sup> date</p>
        <p>&emsp;𝑥̄ - The mean value of the daily returns</p>
        <p>&emsp;<i>n</i> - The number of daily returns</p>
        <p><strong>Standard deviation value of the portfolio daily returns:</strong>  {{standardDeviation | number: '1.4-4'}}</p>
    </div>
</div>

<div *ngIf="!standardDeviation" class="loading-container">
    <mat-spinner diameter="70"></mat-spinner>
</div>