<div *ngIf="monthlyPerformance && annualPerformance">

    <div class="description-container">
        <h2>Portfolio Performance</h2>
        <mat-divider></mat-divider>
        <p>To calculate the monthly portfolio performance in USD we substract the portfolio value at the beginning of the month from the portfolio value at the end of the month.</p>
        <p>Formula: <i>value</i><sub><i>at the end of the month</i></sub> - <i>value</i><sub><i>at the beginning of the month</i></sub>, where the  <i>value</i> (of the portfolio) is equal to the sum of the positions value and cash on hand</p>
        <p>The monthly portfolio performance in % is equal to the difference between the portfolio value at the end of the month and the portfolio value at the beginning of the month divided by the portfolio value at the beginning of the month, multiplied by a 100.</p>
        <p>Formula: (<i>value</i><sub><i>at the end of the month</i></sub> - <i>value</i><sub><i>at the beginning of the month</i></sub>) / <i>value</i><sub><i>at the beginning of the month</i></sub> x <i>100</i>, where the  <i>value</i> (of the portfolio) is equal to the sum of the positions value and cash on hand</p>
        <p>The annual performance is calculated in similar way to the monthly, but with the portfolio value at the beginning of the year and the portfolio value at the end of the year.</p>
        <p>The portfolio performance is shown in tables and line charts below.</p>
    </div>

    <h2>&emsp;Monthly Portfolio Performance</h2>
    <app-performance-table [data]="monthlyPerformance.value"></app-performance-table>
    <img [src]="'data:image/jpeg;base64,' + this.monthlyPerformance.lineChartUSD" class="performance-line-chart"
        alt="Monthly Performance in USD Line Chart">
    <img [src]="'data:image/jpeg;base64,' + this.monthlyPerformance.lineChartPercentage" class="performance-line-chart"
        alt="Monthly Performance in % Line Chart">

    <mat-divider></mat-divider>

    <h2>&emsp;Annual Portfolio Performance</h2>
    <app-performance-table [data]="annualPerformance.value"></app-performance-table>
    <img [src]="'data:image/jpeg;base64,' + this.annualPerformance.lineChartUSD" class="performance-line-chart"
        alt="Annual Performance in USD Line Chart">
    <img [src]="'data:image/jpeg;base64,' + this.annualPerformance.lineChartPercentage " class="performance-line-chart"
        alt="Annual Performance in % Line Chart">
</div>


<div *ngIf="!monthlyPerformance && !annualPerformance" class="loading-container">
    <mat-spinner diameter="70"></mat-spinner>
</div>