<mat-drawer-container class="draw-container" autosize>
  <mat-drawer mode="side" opened>
    <div class="drawer-container"> 
      <div class="description-container">
        <h2>Portfolio Information</h2>
        <mat-divider></mat-divider>
        <p>Invested Amount: 1,000,000 USD</p>
        <p>Investment Period: 03.01.2005 - 29.05.2024</p>
      </div>
  
      <app-filter [(startDate)]="filter.startDate" [(endDate)]="filter.endDate" [(etfs)]="filter.etfs"></app-filter>
      <button mat-raised-button (click)="applyFilter()">Apply</button>
    </div>
  </mat-drawer>

  <div class="reports-container">
    <app-reports [filter]="filter"></app-reports>
  </div>
</mat-drawer-container>